# Bỏ qua file tạm của Visual Studio
.vs/
.vscode/

# Bỏ qua file biên dịch Python
__pycache__/
*.pyc

# Bỏ qua webs
/webs

# Bỏ qua configurations
configuration.json
*.serviceaccount.json
*.firebase.json